<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nos produits Orinoco - Créateur d'ours en peluche'</title>
    <meta name="description" content="le spécialiste de la vente en ligne de nounours personnalisée">
	<link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/17f21b793c.js"></script>
	<script src="https://kit.fontawesome.com/717dc6ad61.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class = "bg-info">
            <div class = "container-header">
                <div class="nav">
                    <a href="../index.html"><h1 class="nav__cie text-light">Orinoco</h1></a>
                    <a href="shop.html">
                        <div class="nav__shop">
                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="productPage"> 
        <div class="productBloc">
            <div class="productBloc__img">
                <img src="x.fr" alt="photo du produit" class="img">
            </div>
            <div class="productBloc__infos">
                <div class="productBloc__infos__title"></div>
                <div class="productBloc__infos__description"></div>
                <div class="productBloc__infos__price"></div>
                <div class="productBloc__infos__quantity">
                    <label for="bearQt">Quantité :</label>
                    <input id="bearQt" type="number" name="bearQt" value="1" min="1">
                </div>
                <div class="productBloc__infos__color">
                    <label for="colorChoice">Couleur :</label>
                    <select name="color" id="colorChoice">
                    </select>
                </div>
                <div class="added-to-cart-confirmation">
                    <p class="confirmation-text"></p>
                </div>
                <div class="productBloc__infos__buttons">
                    <a href="#">
                        <div class="productBloc__infos__button add-to-cart">
                        Ajouter au panier
                        </div>
                    </a>

                    <a href="../index.html">
                        <div class="productBloc__infos__button back-to-home if404">
                            Revenir à la liste des ours
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class = "bg-info">
            <div class="container-fluid">
                <div class = "container-footer">
                       <p><a href="x">Contact</a></p>
                       <p><a href="x">CGU</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../assets/js/product.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>