$headings-font-family: "Times New Roman", Times, serif;
$primary: #22A1ED !default;
$dark: #04040C !default;
$headings-color: #284876 !default;
$card-bg: #FCFCFC !default;

$enable-rounded: false !default; //permet de désactiver globalement l'ensemble des arrondis